{% extends 'layout.html' %} {% block content %}

<div class="blogs-container">
  <div>
    <header>
      <h4>{{ blog.user_id.first_name }} {{ blog.user_id.last_name}}</h4>
      <span>{{ blog.date }}</span>
    </header>
    <p>{{ blog.content }}</p>
    <a
      href="{% url 'like_post' blog_id=blog.id %}"
      style="border: 2px solid black; cursor: pointer"
      class="btn"
      >Like</a
    >
    <span>12</span>
  </div>
</div>

{% if comments %} {% for comment in comments %}
<div class="blogs-container" style="width: 70%">
  <div>
    <header>
      <h4>{{ comment.user_id.first_name }}</h4>
      <span>{{ comment.date }}</span>
    </header>
    <p>{{ comment.content }}</p>
  </div>
</div>
{% endfor %} {% endif %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <textarea rows="3" class="form-control" name="content" required></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="COMMENT" class="btn" />
  </div>
</form>

{% endblock %}
