{% extends 'layout.html' %} {% block content %}

<div>
  <h3>Details</h3>
  <ul>
    <li>Username: {{ current_user.username }}</li>
    <li>First name: {{ current_user.first_name }}</li>
    <li>Last name: {{ current_user.last_name }}</li>
    <li>Email: {{ current_user.email }}</li>
  </ul>
</div>

<div class="blogs-container">
  {% for blog in blogs %}
  <div>
    <header>
      <h4>{{ blog.user_id.first_name }} {{ blog.user_id.last_name}}</h4>
      <span>{{ blog.date }}</span>
    </header>
    <p>{{ blog.content}}</p>
    <a href="{% url 'comments-likes' blog_id=blog.id %}">View comments</a>
    <a
      href="{% url 'delete-post' blog_id=blog.id %}"
      style="background-color: rgb(255, 165, 165)"
      >Delete post</a
    >
  </div>
  {% endfor %}
</div>

{% endblock %}
